@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1500521096696");
  src: url("../fonts/iconfont.eot?t=1500521096696#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1500521096696") format("woff"), url("../fonts/iconfont.ttf?t=1500521096696") format("truetype"), url("../fonts/iconfont.svg?t=1500521096696#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e60c"; }

.icon-guanbi:before {
  content: "\e690"; }

.icon-fangxiangyou:before {
  content: "\e67a"; }

.icon-fangxiangzuo:before {
  content: "\e686"; }

.icon-caidan:before {
  content: "\e662"; }

.icon-zengjia:before {
  content: "\e67f"; }

.icon-xiaoxi:before {
  content: "\e63e"; }

.icon-fangxiangxia:before {
  content: "\e60e"; }

.icon-shuju:before {
  content: "\e618"; }

.icon-wenhao:before {
  content: "\e714"; }

.icon-off:before {
  content: "\e501"; }

.icon-zongjichengyuanshu:before {
  content: "\e704"; }

.icon-jiajian-:before {
  content: "\e666"; }

.loading-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: none; }

.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #2A3F54;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
a {
  text-decoration: none !important;
  cursor: pointer; }

ul, ol {
  list-style: none !important; }

html, body {
  width: 100%;
  background-color: #F7F7F7; }

.pagination {
  margin: 0; }

#page {
  width: 100%;
  overflow: hidden; }

#aside {
  height: 100%;
  position: absolute;
  background-color: #2A3F54;
  z-index: 9999;
  transition: all .5s; }
  #aside .navbar {
    width: 100%;
    margin-bottom: 0; }
    #aside .navbar .return-giant {
      padding: 14px 10px; }
      #aside .navbar .return-giant a {
        text-decoration: none; }
        #aside .navbar .return-giant a i {
          font-size: 23px;
          color: #fff; }
        #aside .navbar .return-giant a span {
          font-size: 20px;
          color: #fff;
          vertical-align: top; }
    #aside .navbar .close-btn {
      display: none;
      height: 60px;
      color: #fff;
      text-align: center;
      line-height: 60px; }
      #aside .navbar .close-btn i {
        font-size: 22px; }
    #aside .navbar .user-info {
      width: 100%; }
      #aside .navbar .user-info .user-img {
        width: 100px;
        height: 100px;
        float: left; }
        #aside .navbar .user-info .user-img .user-img-circle {
          width: 60px;
          height: 60px;
          background: #fff;
          margin-left: 20px;
          margin-top: 20px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: relative; }
          #aside .navbar .user-info .user-img .user-img-circle .img-outside {
            width: 50px;
            height: 50px;
            background: url("../img/touxiangbg.jpg");
            -webkit-background-size: 100%;
            background-size: 100%;
            background-position: center;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: 5px; }
      #aside .navbar .user-info .user-welcome {
        width: 90px;
        padding: 25px 0px 10px;
        float: left; }
        #aside .navbar .user-info .user-welcome p:first-of-type {
          color: #BAB8B8; }
        #aside .navbar .user-info .user-welcome p {
          color: #fff; }
      #aside .navbar .user-info::after {
        display: block;
        content: "";
        clear: both;
        visibility: hidden; }
    #aside .navbar .nav-slide-menu {
      width: 100%;
      padding-left: 0; }
      #aside .navbar .nav-slide-menu li.nav-list {
        width: 100%;
        list-style: none;
        position: relative; }
        #aside .navbar .nav-slide-menu li.nav-list a {
          width: 100%;
          color: #E7E7E7;
          display: inline-block;
          padding: 10px; }
          #aside .navbar .nav-slide-menu li.nav-list a i:nth-of-type(1) {
            padding: 0 10px;
            font-size: 16px; }
          #aside .navbar .nav-slide-menu li.nav-list a i:nth-of-type(2) {
            float: right;
            font-size: 16px;
            -webkit-transition: transform 0.3s;
            -moz-transition: transform 0.3s;
            -ms-transition: transform 0.3s;
            -o-transition: transform 0.3s;
            transition: transform 0.3s; }
        #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu {
          width: 100%;
          padding-left: 0;
          display: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
          #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu li {
            width: 100%;
            color: #fff;
            padding-left: 40px;
            position: relative; }
            #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu li::before {
              content: "";
              width: 8px;
              height: 8px;
              display: block;
              background-color: #425668;
              position: absolute;
              top: 16px;
              left: 30px;
              border-radius: 50%;
              -webkit-border-radius: 50%; }
            #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu li::after {
              content: "";
              display: block;
              width: 1px;
              height: 100%;
              background-color: #425668;
              position: absolute;
              left: 34px;
              top: 0; }
          #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu li.current {
            background-color: rgba(255, 255, 255, 0.05); }
      #aside .navbar .nav-slide-menu li.active {
        border-right: 4px solid #1ABB9C; }
        #aside .navbar .nav-slide-menu li.active > a {
          text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
          background: linear-gradient(#334556, #2C4257), #2A3F54;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0; }
        #aside .navbar .nav-slide-menu li.active i:nth-of-type(2) {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg); }

.nav-md .header {
  margin-left: 230px; }

.nav-sm .header {
  margin-left: 70px; }

.header {
  height: 60px;
  background-color: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  position: absolute;
  top: 0;
  z-index: 9999; }
  .header::after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden; }
  .header .menu-btn {
    float: left;
    width: 50px;
    text-align: center; }
    .header .menu-btn .caidan-btn {
      font-size: 28px;
      line-height: 60px;
      cursor: pointer;
      color: #5A738E; }
  .header .header-title {
    float: left;
    padding: 0 30px; }
    .header .header-title p {
      margin-top: 16px;
      line-height: 60px;
      font-size: 24px;
      margin: 0; }
  .header .user-manage {
    float: right;
    position: relative; }
    .header .user-manage .user-content {
      width: 120px;
      padding: 10px; }
      .header .user-manage .user-content .imgBox {
        width: 40px;
        height: 40px;
        background: url("../img/touxiangbg.jpg");
        background-size: 100%;
        background-position: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
    .header .user-manage .drop-down {
      width: 120px;
      border: 1px solid #D9DEE4;
      background-color: #fff;
      display: none;
      position: absolute;
      z-index: 9999;
      right: 0;
      top: 100%;
      padding-left: 20px; }
      .header .user-manage .drop-down li {
        padding: 5px 0;
        color: #5A738E; }
    .header .user-manage::after {
      display: block;
      content: "";
      clear: both;
      visibility: hidden; }
  .header .open .user-content {
    background: #aaa; }
  .header .open .drop-down {
    display: block; }

.moreInfo-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  display: block;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px; }
  .moreInfo-wrapper > .row {
    max-width: 900px;
    margin: 0 auto; }
    .moreInfo-wrapper > .row .panel .panel-heading span {
      cursor: pointer;
      font-size: 24px;
      padding: 0px 10px;
      margin-top: -5px;
      margin-right: -10px; }
    .moreInfo-wrapper > .row .panel .panel-body .lx-container {
      position: relative; }
      .moreInfo-wrapper > .row .panel .panel-body .lx-container .block-border {
        border: 1px solid #ddd;
        padding: 10px;
        position: relative; }
      .moreInfo-wrapper > .row .panel .panel-body .lx-container .block-border::after {
        display: block;
        content: "";
        clear: both;
        visibility: hidden; }
      .moreInfo-wrapper > .row .panel .panel-body .lx-container .vip-img {
        float: left;
        position: absolute;
        top: 70px; }
      .moreInfo-wrapper > .row .panel .panel-body .lx-container .vip-info {
        margin-left: 100px; }
      .moreInfo-wrapper > .row .panel .panel-body .lx-container .vip-img-box {
        width: 80px;
        height: 80px;
        margin-left: 10px;
        -webkit-background-size: 100%;
        background-size: 100%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .moreInfo-wrapper > .row .panel .panel-body .lx-container .border-box {
        border: 1px solid #ddd;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-top: 10px; }
    .moreInfo-wrapper > .row .panel .panel-body .infoTable tr .showBtn {
      cursor: pointer;
      float: right; }

#content {
  position: relative; }
  #content .content {
    width: 100%;
    padding: 60px 30px 10px; }
    #content .content .result-title {
      background-color: #2A3F54;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px; }
    #content .content .data-content {
      margin: 10px 0px;
      padding: 10px 0;
      background-color: #fff;
      border-radius: 5px;
      min-width: 300px; }
      #content .content .data-content .data-item {
        text-align: center;
        margin: 0px;
        background: #fff;
        border-radius: 5px;
        padding: 10px 0; }
        #content .content .data-content .data-item p {
          color: #73879C;
          margin-bottom: 0; }
        #content .content .data-content .data-item .data-type {
          font-size: 24px; }
        #content .content .data-content .data-item .data-count {
          font-size: 24px; }
    #content .content .search-content {
      background: #fff;
      border-radius: 5px;
      margin-top: 10px; }
    #content .content .date-select {
      width: 100%;
      max-width: 324px;
      position: relative; }
    #content .content .data-charts {
      border-radius: 5px;
      background-color: #fff; }
      #content .content .data-charts #myEcharts {
        width: 100%;
        height: 400px;
        padding: 15px; }
      #content .content .data-charts #myEcharts1 {
        width: 100%;
        height: 500px;
        padding: 15px; }
      #content .content .data-charts #myEcharts2 {
        width: 100%;
        height: 500px;
        padding: 15px; }

.nav-md #aside {
  width: 230px; }
.nav-md #content {
  margin-left: 230px; }

.nav-sm .header {
  margin-left: 70px; }
.nav-sm #aside {
  width: 70px; }
  .nav-sm #aside .user-info {
    display: none; }
  .nav-sm #aside .return-giant {
    text-align: center; }
    .nav-sm #aside .return-giant a span {
      display: none; }
  .nav-sm #aside .nav-slide-menu li.nav-list {
    text-align: center; }
    .nav-sm #aside .nav-slide-menu li.nav-list a {
      letter-spacing: 3px; }
      .nav-sm #aside .nav-slide-menu li.nav-list a i:nth-of-type(1) {
        font-size: 30px !important;
        padding: 0 12px 0 8px !important; }
      .nav-sm #aside .nav-slide-menu li.nav-list a i:nth-of-type(2) {
        display: none; }
    .nav-sm #aside .nav-slide-menu li.nav-list ul.child-slide-menu {
      position: absolute;
      left: 64px;
      width: 120px;
      background: #3E5367;
      top: 0; }
      .nav-sm #aside .nav-slide-menu li.nav-list ul.child-slide-menu li {
        padding-left: 10px; }
        .nav-sm #aside .nav-slide-menu li.nav-list ul.child-slide-menu li::after {
          display: none; }
        .nav-sm #aside .nav-slide-menu li.nav-list ul.child-slide-menu li::before {
          display: none; }
.nav-sm #content {
  margin-left: 70px; }

@media screen and (max-width: 1000px) {
  .nav-md #aside {
    width: 70px;
    margin-left: 0px; }
    .nav-md #aside .nav-slide-menu li {
      text-align: center; }
      .nav-md #aside .nav-slide-menu li a {
        letter-spacing: 3px; }
        .nav-md #aside .nav-slide-menu li a i:nth-of-type(1) {
          font-size: 30px !important;
          padding: 0 12px 0 8px !important; }
        .nav-md #aside .nav-slide-menu li a i:nth-of-type(2) {
          display: none; }
      .nav-md #aside .nav-slide-menu li ul.child-slide-menu {
        position: absolute;
        left: 64px;
        width: 120px !important;
        background: #3E5367;
        top: 0; }
        .nav-md #aside .nav-slide-menu li ul.child-slide-menu li {
          padding-left: 10px !important; }
          .nav-md #aside .nav-slide-menu li ul.child-slide-menu li::after {
            display: none !important; }
          .nav-md #aside .nav-slide-menu li ul.child-slide-menu li::before {
            display: none !important; }
  .nav-md #content {
    margin-left: 0px; }

  .nav-sm .header {
    width: 100% !important;
    margin-left: 0; }
  .nav-sm #aside {
    width: 70px;
    margin-left: -100%; }
    .nav-sm #aside .navbar .nav-slide-menu li {
      text-align: center; }
  .nav-sm #content {
    margin-left: 0px; }

  #aside .navbar .return-giant {
    display: none; }
  #aside .navbar .user-info {
    display: none; }
  #aside .navbar .close-btn {
    display: block; }

  .nav-sm .header {
    margin-left: 0px; }

  .nav-md .header {
    margin-left: 0px; }

  .header {
    width: 100% !important; }
    .header .header-title {
      padding: 0 0; }
      .header .header-title p {
        font-size: 16px; }

  #content {
    position: relative;
    padding: 60px 0 10px; }
    #content .content {
      padding: 0 30px; }
      #content .content .search-content div .btn-group button.btn {
        padding: 6px 6px; }
      #content .content .search-content div .date-select {
        width: 99%; }
      #content .content .data-charts {
        border-radius: 5px;
        background-color: #fff; }
        #content .content .data-charts #myEcharts {
          width: 100%;
          height: 400px;
          padding: 15px; }
        #content .content .data-charts #myEcharts2 {
          width: 100%;
          height: 400px;
          padding: 15px; }
        #content .content .data-charts #myEcharts3 {
          width: 100%;
          height: 400px;
          padding: 15px; } }
#content .content .data-content .fenlei {
  margin-bottom: 10px; }

.vip-list .vip-wrapper, .products-list .vip-wrapper {
  margin-top: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px; }
  .vip-list .vip-wrapper div .vip-container table thead tr th, .products-list .vip-wrapper div .vip-container table thead tr th {
    text-align: center; }
.vip-list .search-content .filter-select, .products-list .search-content .filter-select {
  padding: 10px 0; }
.vip-list .search-content .search-btn, .products-list .search-content .search-btn {
  margin: 10px 0; }

.table-container {
  border: 1px solid #ddd;
  border-top: none;
  margin-bottom: 10px; }
  .table-container .infoTable {
    margin-bottom: 10px; }
    .table-container .infoTable td, .table-container .infoTable th {
      padding: 4px; }

.vip-change .search-content .filter-select {
  margin: 10px 0; }
.vip-change .search-content #search-btn {
  margin: 10px 0; }

.vip-from .search-content .filter-select {
  margin: 10px 0; }
.vip-from .search-content #search-btn {
  margin: 10px 0; }

.products-list .vip-wrapper {
  padding: 0 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px; }

.products-data1 .search-content .filter-select {
  margin: 10px 0; }
.products-data1 #search-btn {
  margin: 10px 0; }

.products-data2 .search-content .filter-select {
  margin: 10px 0; }
.products-data2 #search-btn {
  margin: 10px 0; }

.service-list .vip-wrapper {
  padding: 0 0;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px; }
.service-list .search-content .filter-select {
  margin: 10px 0; }
.service-list th {
  text-align: center; }

.block {
  background: #fff;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.block-title {
  width: 100%;
  height: 40px;
  background-color: #2A3F54;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  color: #fff;
  line-height: 40px;
  padding-left: 20px; }

.block-one > p {
  text-align: center;
  margin: 10px 0; }

.big-number {
  font-size: 20px;
  font-weight: 900;
  color: #2A3F54; }

.arrow-change {
  width: 16px; }

.btn-block {
  padding: 10px 15px; }

.lx-container {
  padding: 0 15px; }

.echarts-container {
  width: 100%;
  height: 300px; }

.echarts-container {
  background: #ffffff;
  border: 1px solid #ddd; }

.search-box {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  z-index: 99; }
  .search-box .panel-heading span {
    cursor: pointer;
    font-size: 24px;
    padding: 0px 10px;
    margin-top: -5px;
    margin-right: -10px; }
  .search-box .fontW {
    font-size: 16px;
    font-weight: 900; }
  .search-box .tag-box {
    border: 1px solid #ccc;
    padding: 10px;
    height: 130px;
    margin-top: 10px;
    overflow-y: scroll; }
    .search-box .tag-box p {
      margin-bottom: 0px; }
      .search-box .tag-box p input[type=checkbox] {
        vertical-align: text-bottom; }
  .search-box .from-box p {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px; }
    .search-box .from-box p input[type=checkbox] {
      vertical-align: text-bottom; }
  .search-box .from-box::after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden; }

.search-open {
  display: block; }

.search-box1 {
  width: 90%;
  max-width: 490px;
  margin: 0 auto;
  position: absolute;
  z-index: 99; }
  .search-box1 .panel-heading span {
    cursor: pointer;
    font-size: 24px;
    padding: 0px 10px;
    margin-top: -5px;
    margin-right: -10px; }
  .search-box1 p {
    text-align: center;
    float: left;
    margin-right: 20px; }

.vip-box::after {
  display: block;
  content: "";
  clear: both;
  visibility: hidden; }
.vip-box .box-left {
  float: left;
  width: 40%;
  margin-top: 30px; }
  .vip-box .box-left .header-title {
    text-align: center; }
.vip-box .box-right {
  float: left;
  width: 60%;
  padding-top: 10px; }

.city-box {
  margin: 10px; }

.city-container {
  margin: 10px; }
  .city-container table {
    text-align: center; }

@media screen and (max-width: 600px) {
  #content .content {
    padding: 0 10px 10px; }

  .header {
    margin-left: 0 !important;
    width: 100% !important; }

  .user-content {
    width: 60px !important;
    padding: 15px !important; }
    .user-content .imgBox {
      width: 30px !important;
      height: 30px !important;
      background: url("../img/touxiangbg.jpg");
      background-size: 100%;
      background-position: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }

  .row {
    margin-right: -5px;
    margin-left: -5px; }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px; }

  .drop-down {
    width: 60px !important;
    padding-left: 15px !important; }
    .drop-down li a {
      display: block;
      width: 100%;
      height: 100%; }

  .btn-group {
    margin: 10px 0 0; }

  .date-select {
    margin: 10px 0 0; }

  .sm-marginTop {
    margin-top: 10px; }

  .header-title {
    font-size: 12px; }

  .moreInfo-wrapper {
    padding: 5px; }

  .panel-body {
    padding: 5px; }

  .lx-container {
    padding: 5px; }

  .search-box {
    width: 97% !important; }

  .search-box1 p {
    width: 135px; } }
#content {
  overflow-y: scroll;
  overflow-x: hidden; }

#menuContent {
  background: #fff;
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 99;
  border: 1px solid #ccc;
  padding: 10px; }

#treeBox {
  margin-top: 0;
  width: 280px;
  height: 300px;
  overflow-y: scroll; }

/*# sourceMappingURL=lxl.css.map */
